{% extends "base.html" %}
{% load static %}
{% block title %}Öğrenci Paneli{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/student/dashboard.css' %}">
{% endblock %}


{% block content %}
<div class="container mt-4">

    <div class="student-dashboard">
        <div class="card shadow-sm p-4">
            <h3 class="fw-bold mb-3">Öğrenci Paneli</h3>

            {% if student %}
                <div class="button-group mt-3">
                    <a href="{% url 'students:profile' %}" class="btn btn-card btn-outline-secondary">Profil</a>
                    <a href="{% url 'students:courses' %}" class="btn btn-card btn-primary">Derslerim</a>
                    <a href="{% url 'students:attendance' %}" class="btn btn-card btn-warning">Devamsızlık</a>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    Öğrenci bilgileriniz bulunamadı.
                </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
